@mixin background-color {
    background-color: white;
}

@mixin border-radius {
    border-radius: 0px;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0,136,136);
    background: linear-gradient(90deg, rgba(0,200,200,1) 0%, rgba(0,62,115,1) 100%); 
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: 1fr 75vw 1fr;
    grid-gap: 20px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


h1 {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bold;
    font-size: 30pt;
    line-height: 2rem;
}

h2 {
    font-family: 'Walter Turncoat', cursive;
}

h3 {
    font-family: 'Walter Turncoat', cursive;
    font-style: italic;
}

header {
    grid-column: 1 / 4;
    margin-top: 2rem;
    @include background-color;
    @include border-radius;
    height: max-content;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-radius: 20px;
    padding: 30px;
    height: max-content;
    @include background-color;
    @include border-radius;
}


.container {
    grid-column: 2 / 3;
    height: 75vw;
    border: 1px white solid;
    background-color: white;
    width: 100%;
    display: grid;
    
    
}


button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 50px;
    border: rgba(0,62,115,1) 2px solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    @include background-color;
}

button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


